  .items-controls-list{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
  }

  .items-controls-list .aboutText{
    overflow: auto;
    height: 79px;
    flex: 0 0 250px;
    max-width: 200px;
    overflow: hidden;
    word-break: break-word;
  }
  .items-controls-list .ageBlock input{
    width: 60px;
  }
  .items-with-control p {
    height: 77px;
}

.items-with-control {
  height: 150px;
  margin: 5px;
  background: rgba(100,100,100, .1);
  padding: 9px;
}
